{% load static %}
<!doctype html>
<html lang="ko">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<head>
  <title>메인</title>
  <meta charset="utf-8">
</head>

<body>
  <nav>
    <a href="{% url 'myprofile:main' %}">Home</a>
    <a href="{% url 'myprofile:bloglist' %}">Blog</a>
    <a href="{% url 'myprofile:myprofile' %}">AboutMe</a>
  </nav>
  <div id="container">
    <h1>헤드라인</h1>
    <h2>헤드라인2</h2>
    <h3>헤드라인3</h3>
    <h4>내용</h4>
    <h5>제일작은</h5>
    <p>단락구분</p>
    <hr>
    <img src="images/v.jpg" width="400">


  </div>
</body>

</html>